{% extends 'main/main.html' %}
{% include 'main/navbar.html' %}
{% load static %}
{% load i18n %}


{% block content%} 

<style>
    @media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}
.blog {
  background-color: transparent;
  max-width: 100%;
  display: grid;
  height: 90vh;
  max-height: 920px;
  overflow: hidden;
  grid-template-columns: 15% 20% 45% 20%;
  grid-template-rows: 100%;
  width: 100%;
  padding: 40px 4px;
  position: relative;
}


@media screen and (max-width: 1030px) {
  .blog {
    grid-template-columns: 20% 50% 30%;
  }
}
@media screen and (max-width: 768px) {
  .blog {
    grid-template-columns: 25% 75%;
    width: 100%;
    max-width: none;
  }
  .date {
    display: contents !important;
    
  }
}
@media screen and (max-width: 560px) {
  .blog {
    grid-template-columns: 100%;
  }
}
.blog-part {
  padding: 0 20px;
}
.blog-part:not(:last-child) {
  border-right: 1px solid #94918f;
}
.blog-menu {
  font-size: 1.25vw;
  text-decoration: none;
  color: #161419;
  display: flex;
  letter-spacing: -0.5px;
  align-items: center;
}
@media screen and (max-width: 1260px) {
  .blog-menu {
    font-size: 1.25vw;
  }
}
.blog-menu svg {
  width: 22px;
  margin-left: 4px;
}
.blog-menu + .blog-menu {
  margin-top: 24px;
}
.blog-menu.mention {
  margin-top: auto;
  font-size: 19px;
}
@media screen and (max-width: 1260px) {
  .blog-menu.mention {
    font-size: 1.4vw;
  }
}
.blog-menu.subscribe {
  margin-top: 8px;
  font-size: 19px;
  position: relative;
}
@media screen and (max-width: 1260px) {
  .blog-menu.subscribe {
    font-size: 1.4vw;
  }
}
.blog-menu.subscribe:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #161419;
  left: 0;
  border-radius: 1px;
  margin-right: 14px;
}
.blog-menu.rounded:before {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #161419;
  margin-right: 12px;
}
.blog .is-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1030px) {
  .blog .is-menu {
    display: none;
  }
}
.blog-big__title {
  font-size: 7.5vw;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 6px;
}
@media screen and (max-width: 1400px) {
  .blog-big__title {
    font-size: 120px;
  }
}
@media screen and (max-width: 1260px) {
  .blog-big__title {
    font-size: 4.25rem;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 560px) {
  .blog-big__title {
    font-size: 36px;
    margin-bottom: 12px;
  }
}
.blog-header {
  display: flex;
  flex-direction: column;
}
.blog-article {
  padding: 0 20px;
}
.blog-article img {
  height: 260px;
  max-height: 22vh;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
.page-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    font-size: 1.25em;
    text-align: left;
    letter-spacing: -1px;
    font-weight: lighter;
    font-family: 'Poppins';
    border-right: 1px solid #94918f;
    white-space: nowrap;
    margin-left: 25px;
}
@media screen and (max-width: 1260px) {
  .page-number {
    font-size: 5vw;
  }
}
.small-title {
  border-bottom: 1px solid #94918f;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 560px) {
  .small-title {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 24px;
    border-bottom: 0;
  }
}
.date {
  display: flex;
  justify-content: flex-end;
}
.blog-article h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  margin: 8px 0 8px;
}
.blog-article h2 span {
  font-family: "Playfair Display", serif;
}
.blog-article p {
  line-height: 1.5;
  margin: 14px 0;
}
.blog-article a {
    color: #161419;
    text-decoration: none;
    font-size: 0.9em;
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    padding-top: 14px;
    overflow: scroll;
}
.blog-article a svg {
  width: 26px;
  margin-right: 10px;
}
.blog-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.blog-detail span {
  font-family: "Playfair Display", serif;
}
.blog-header-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  border-right: 1px solid #94918f;
  
}
@media screen and (max-width: 768px) {
  .blog-header-container {
    border-right: 0;
  }

  .blog-menu + .blog-menu {
    margin-top: 10px;
  }
  
}
.blog-header-container > * {
  flex-shrink: 0;
  min-height: 100%;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.blog-header-container .blog-article:not(.header-article) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
marquee {
  font-size: 20px;
  background-color: #121418;
  color: #e9e6e4;
  padding: 6px 0;
  width: calc(100% + 44px);
  margin-left: -20px;
  flex-shrink: 0;
}
marquee span:before {
  display: inline-block;
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: -1px;
  vertical-align: baseline;
  background-color: #e9e6e4;
  margin: 0 16px;
}
.blog-right {
  overflow: auto;
  height: calc(100% + 60px);
}
.blog-right .rounded {
  font-style: italic;
  font-size: 18px;
}
.blog-right .rounded:before {
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: #161419;
  margin-right: 6px;
}
.blog-right-title {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
.blog-right-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #94918f;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  letter-spacing: -1px;
}
@media screen and (max-width: 1400px) {
  .blog-right-title-container {
    margin-top: 88px;
  }
  .blog-big__title {
    font-size: 6rem;
    
}
}
@media screen and (max-width: 1260px) {
  .blog-right-title-container {
    margin-top: 6vw;
  }

  .blog-big__title {
    font-size: 7vw !important;
    
}
}
@media screen and (max-width: 1030px) {
  .blog-right-title-container {
    margin-top: 5vw;
  }
  .linkSee2 {
    display: block !important;  
    
  }

  
}
.blog-title-date {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.blog-right-page {
  font-size: 56px;
  margin-bottom: 16px;
  font-family: "Space Grotesk", sans-serif;
}
.blog-right-page-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
  font-weight: 600;
  max-width: 25ch;
  letter-spacing: -2px;
}
.blog-right-page-subtitle {
  max-width: 40ch;
  font-size: 15px;
  margin-top: 12px;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  padding-right: 1em;
}
.blog-right-container + .blog-right-container {
  margin-top: 40px;
}
.right-blog {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .right-blog {
    display: none;
  }
  .seeMore {
      display: flex;
      justify-content: flex-end;
  }
  .blog-big__title {
    font-size: 4.25rem !important;
    
  }
}
@media screen and (max-width: 1030px) {
  .right-blog .blog-menu {
    display: none;
  }
}
::-webkit-scrollbar {
  display: none;
}
.circle {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #121418;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #e9e6e4;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
.circle-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: "Space Grotesk", sans-serif;
}
@media screen and (max-width: 1030px) {
  .circle-title {
    display: none;
  }
}
.circle-subtitle {
  max-width: 30ch;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 16px;
}
.circle-footer {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
@media screen and (max-width: 560px) {
  .blog-is-sticky {
    display: none;
  }
}

.blog-article > p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 6em;
}

.linkSee {
    justify-content: flex-end !important;
}


.arrow-scroll {
    display: grid;
    left: 50%;
    position: sticky;
    float: left;
    align-content: space-between;
    height: 100%;
    top: 0;
}

.main-arrow-scroll {
    display: grid;
    position: absolute;
    align-content: space-between;
    height: 65%;
    top: 17rem;
    margin-left: -18px;
}

.blog-detail > span {
  font-family: 'Poppins', sans-serif;
}


</style>

<div style="position: relative;top: 5em;">
  <div class="blog">
    <div class="blog-part is-menu">
            <a href="{% url 'userarticle' %}" class="blog-menu">
              Lihat Semua Artikel
              <svg fill="none" stroke="currentColor" stroke-width=".7" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right" viewBox="0 0 24 24">
                <path d="M7 17L17 7M7 7h10v10" />
              </svg>
            </a>
            <a href="{% url 'newpost' %}" class="blog-menu">
              Buat Artikel 
              <svg fill="none" stroke="currentColor" stroke-width=".7" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right" viewBox="0 0 24 24">
                <path d="M7 17L17 7M7 7h10v10" />
              </svg>
            </a>
            <!-- <a href="{% url 'issuepage' %}" class="blog-menu">Water Resources Issue</a> -->
          </div>
        <div class="blog-header blog-is-sticky">
         <div class="blog-article header-article">
           <div class="blog-big__title">Water</div>
           <div class="blog-menu rounded small-title">Table of Main Article</div>
          </div>
         <div class="blog-article page-number">
           {% for i in articleTest %}
           {% for data in i.tags.all %}
           <a href="#{{data}}" > {{i.headline}}</a> 
           {% endfor %}
           {% endfor %}
          </div>
        </div>
        <div id="scroller" class="blog-header-container">
          {% for post in articleTest %}
          {% for x in post.tags.all%}
          <div id="{{ x }}" class="blog-header">
            {% endfor %}
            <div class="blog-article header-article">
              {% for x in post.tags.all%}
              <div id="{{ x }} " class="blog-big__title">{{ x }}</div>
              {% endfor %}
              <!-- <div id="{{ post.headline }}" class="blog-big__title">{{ post.headline }}</div> -->
              <div class="blog-menu small-title date">{{ post.createAt|date:"d M Y" }}</div>
            </div>
            <div class="blog-article">
              <div class="main-arrow-scroll">
                <i id="ArrowUp2" class="fa-solid fa-angles-up"></i>
                <i id="ArrowDown2" class="fa-solid fa-angles-down"></i>
              </div>
              
              <img src="{{post.image.url}}" alt="post_image">
              <h2>{{ post.headline}}</h2>
            <div class="blog-detail">
            <span>By : {{post.author}}</span>
            <span>{{ post.get_readtime}}</span>
           </div>
           <p>{{post.textarea|striptags|safe}}</p>
           <div class="seeMore">
             {% comment %} <a class="linkSee2" href="{% url 'read' post.id%}" style="display: none;">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right" viewBox="0 0 24 24">
               <path d="M15 10l5 5-5 5" />
               <path d="M4 4v7a4 4 0 004 4h12" />
              </svg>
              See More Article
            </a> {% endcomment %}
             <a class="linkSee" href="{% url 'read' post.id%}">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right" viewBox="0 0 24 24">
               <path d="M15 10l5 5-5 5" />
               <path d="M4 4v7a4 4 0 004 4h12" />
              </svg>
              Read More
            </a>
            
          </div>
          </div>
         </div>
         {% endfor %}
        </div>
        <div class="blog-part right-blog">
         <!-- <marquee width="100%" direction="left">
          <span>Now And Then You Miss It Sounds Make You Cry</span>
          <span>Now In - MoMa Sharing Exhibition NOW</span>
          <span>NYC Opens After Long Lockdown Check</span>
         </marquee> -->
         <div class="blog-right-title-container">
          <div class="blog-right-title">
           Featured Articles
          </div>
          <!-- <div class="blog-menu rounded"><a href="{% url 'userarticle' %}">See All</a></div> -->
         </div>
         <div class="blog-right">
           <div class="arrow-scroll">
            <i id="ArrowUp" class="fa-solid fa-angles-up"></i>
            <i id="ArrowDown" class="fa-solid fa-angles-down"></i>
           </div>
          {% for i in dataB %}
          <div class="blog-right-container">
           <div class="blog-title-date">
            <div class="blog-right-page"></div>
            <div class="date">{{i.createAt|date:"d M Y"}}</div>
           </div>
           <div class="blog-right-page-title">{{i.headline}}</div>
           <div class="blog-right-page-subtitle">{{i.textarea|striptags|safe}}</div>
          </div>
          {% endfor %}
          
        </div>
       </div>

</div>

<script>
 
 document.addEventListener('DOMContentLoaded', function() {

  var User = $('.customNav').text()
  $('.Author').val(User);


  $('.blog-right').scroll(function(){
    if($(this).scrollTop()> 700)
    {   
 
      $('#ArrowUp').css("opacity", "100%");
      $('#ArrowDown').css("opacity", "0%");
      }else{
      $('#ArrowUp').css("opacity", "0%");
      $('#ArrowDown').css("opacity", "100%");
    }
  })

  $('.blog-header-container').on('wheel',function(e){

    var delta = e.originalEvent.deltaY;
        outset = $(this).scrollTop();
    if (delta > 0 && outset == 0) 
    {
      $('#ArrowUp2').css("opacity", "100%");
      $('#ArrowDown2').css("opacity", "0%");
      console.log('A...', )
    }else{
      $('#ArrowUp2').css("opacity", "0%");
      $('#ArrowDown2').css("opacity", "100%");
      console.log('B.....')
    } 


  })




  

  $('#ArrowUp').css('opacity','0%');
  $('#ArrowUp2').css('opacity','0%');

  var $logo = $('#ArrowUp');
  
  if($('#ArrowUp').scrollTop()> 100)
    {   //alert("scop");
 //  $logo.css({display: $(this).scrollTop() > 100? "block":"none"});
     $('#ArrowUp').css("opacity", "100%");
    }else{
      $('#ArrowUp').css("opacity", "0%");
    }
  

  $('[id]').each(function() {
      var $ids = $('[id=' + this.id + ']');
      if ($ids.length > 1) {
          $ids.not(':first').remove();
      }
  });

  var seen = {};
  $('.blog-article.page-number a').each(function() {
    var txt = $(this).attr('href');
    if (seen[txt])
      $(this).remove();
    else
      seen[txt] = true;
  });

  $(".blog-right-page").each( function() {
        $(this).text() + 1 ;
    });
  
  var dataA = $(".blog-right-page").val('1')
  var xlen = $('.blog-right-page').length;
  var iData = 1;
  $('.blog-right-page').each(function() {
    $(this).text(iData);
    iData++;
  })
 })
 

// var scrollableElement = $('.blog-right'); //document.getElementById('scrollableElement');

// scrollableElement.addEventListener('wheel', checkScrollDirection);

// function checkScrollDirection(event) {
//   if (checkScrollDirectionIsUp(event)) {
//     console.log('UP');
//   } else {
//     console.log('Down');
//   }
// }

// function checkScrollDirectionIsUp(event) {
//   if (event.wheelDelta) {
//     return event.wheelDelta > 0;
//   }
//   return event.deltaY < 0;
// }
</script>

{% endblock %}