{% extends 'main/main.html' %}
{% include 'main/navbar.html' %}
{% load static %}
{% load i18n %}


{% block content%} 

<style>
p {
    font-size: 1.25em;
}    

ul {
    font-size: 1.25em;
}

li {
    font-size: 1em; 
}

.AuthorComment {
    display: grid;
}

.btnComment {
    position: relative;
    float: right;
    margin-top: 15px;
}

@media screen and (max-width: 768px) { 
    .articlePost {
        display: grid;
    }
    
}

@media screen and (max-width: 960px) { 
    .articlePost {
        display: grid;
    }
    


}

@media only screen and (min-width: 1440px) {
    .articlePost {
        display: grid;
    }
}

.container > a {
    
    top: 1em;
}

.recent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
</style>


<div id="container-article" class="container">
    
    <a href="javascript:history.back()" style="font-size: 1rem;">&larr; Go back to Article</a>
    <div class="articlePost">
        {% for post in article %}
        <div class="postList">
            {% comment %} {% for data in post.tags.all%}
            <a href="{% url 'userarticle' %}" class="postTag" style="font-family: 'Poppins';font-weight: 800;">
                <i class="fa-solid fa-tags"></i> &nbsp;{{ data }}
            </a>
            
            {% endfor %} {% endcomment %}
            <h2  class="headTagArticle" style="font-size: 1.75vw;font-family: 'league spartan';font-weight: 800;">{{ post.headline }}</h2>
            <p>Date: {{ post.createAt|date:"d M Y" }}</p>
            <!-- <hr> -->
            <img class="articleImg" src="{{ post.image.url }}" alt="newsImg">
            <hr>
            <p class="articleTeks">{{post.textarea|safe}}</p>
        </div>
        {% endfor %}

        <div>
        <span class='otherPost'>another interesting article</span>
            <div class="recent">
                {% for post in other %}
                <div class="row rowKlik" style='margin-top: 1em;'>
                    <div class='col-md-4'>
                        <img class="otherRecentImg" src="{{ post.image.url }}" alt="newsImg">
                    </div>
                    <div class='col-md-8'>
                        <a href="{% url 'read' post.id %}" class="otherheadTag" >{{ post.headline }}</a>
                        <div class='infoOther'>
                        {% for data in post.tags.all %}
                        <h3 class="recentpostTag"><a href="/{{data}}page"> {{ data }}</a></h3>
                        {% endfor %}
                        <p>{{ post.createAt|date:"d M Y" }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

        {% comment %} {% if request.user.is_authenticated %}
        <div class="CommentSection">
            <h3 style="font-size: 1rem;">Leave a comment:</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.author }}
                </div>
                <div style="margin-top: 15px;">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary btnComment">Submit</button>
            </form>
    
            <h3 style="font-size: 1rem;">Comments:</h3>
            {% for comment in comments %}
                <p class="AuthorComment">
                    On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
                </p>
                <p>
                    {{ comment.body | linebreaks }}
                </p>
            {% endfor %}
        </div>
        {% else %}
        <div class="CommentSection">
            <h3 style="display: flex; justify-content: center;">Silahkan Login untuk Tinggalkan Komentar</h3>
            <br><br>
            <h3 style="font-size: 1rem;">Comments:</h3>
            {% for comment in comments %}
                <p class="AuthorComment">
                    On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
                </p>
                <p>
                    {{ comment.body | linebreaks }}
                </p>
            {% endfor %}
        </div>
        {% endif %} {% endcomment %}
    </div>

    
        
      
</div>

{% comment %} <script>
document.addEventListener('DOMContentLoaded', function(){
    var User = $('.customNav').text()
    $('.Author').val(User);
    console.log('Isian....', User)
})    
    
</script> {% endcomment %}

<script>

document.addEventListener('DOMContentLoaded', function(){

    var addrs = $('.rowKlik').find('.col-md-8').find('a');
    var pathAdd = $('.headTagArticle').text();
      
    for (var i = 0; i < addrs.length; i++)  
    {
        if ( addrs[i].textContent == pathAdd ) {
            addrs[i].parentNode.parentNode.style.display='none';
        }  else {
            
            
        }
    }


});


</script>
{% endblock %}