{% extends "main/main.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}


<style>

body {
    
    background: linear-gradient(-90deg, #13B2F6, #004AAD, #253252) !important;
}

@media only screen and (max-width : 768px) {
    .form {
        width: 20em !important;
        margin: 5em auto !important;
    }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(45deg, skyblue, darkblue);
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  margin: 5% auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background 0.3s ease;
}

.form:hover {
  background: linear-gradient(45deg, darkblue, skyblue);
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: white;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10em;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: white;
  margin-bottom: 15px;
}

.input {
  margin-left: 10px;
  border-radius: 10rem;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid orange;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  background: transparent;
  transition: ease-out 0.5s;
  border: 2px solid;
  border-radius: 10em;
  box-shadow: inset 0 0 0 0 blue;
  margin: 20px 0 10px 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 royalblue;
}

.button-submit:active {
  transform: scale(0.9);
}

.p {
  text-align: center;
  color: white;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid orange;
}


.navbar {
    display: none;

}
    
h1.H1Sign {
    text-align:center;
    color: #F8F8FF;
}    

p.P1Sign {
    text-align:center;
    color: #F8F8FF;
}

li.liSign {
    color: #F8F8FF;
    font-size: 0.75em;
}

.field-icon {
  position: relative;
  top: 2.75em;
  float: right;
  margin-right: 10px;
  z-index: 2;
}

.field-icon2 {
  position: relative;
  top: 2.75em;
  float: right;
  margin-right: 10px;
  z-index: 2;
} 
</style>
<form class="form"  method="post" action="/en/accounts/signup/" tags="entrance,signup">
  {% csrf_token %}
<h1 class='H1Sign'> SIGN UP </h1>
<p class='P1Sign'> Already Have an Account? then Please <a href="/accounts/login/"> Sign In <a></p>
  
  {% crispy form %}
  
  {% comment %} <div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label requiredField">
                Email<span class="asteriskField">*</span> </label> <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" class="textinput form-control" required="" id="id_email" data-gtm-form-interact-field-id="0"> </div>

  <div id="div_id_username" class="mb-3"> <label for="id_username" class="form-label requiredField">
                Username<span class="asteriskField">*</span> </label> <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" class="textinput form-control" required="" id="id_username"> </div>

  <div id="div_id_password1" class="mb-3"> <label for="id_password1" class="form-label requiredField">
                Password<span class="asteriskField">*</span> </label> <input type="password" name="password1" placeholder="Password" autocomplete="new-password" class="passwordinput form-control" required="" aria-describedby="id_password1_helptext" id="id_password1"> <div id="id_password1_helptext" class="form-text"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></div> </div>

  <div id="div_id_password2" class="mb-3"> <label for="id_password2" class="form-label requiredField">
                Password (again)<span class="asteriskField">*</span> </label> <input type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password2"> </div> {% endcomment %}

  <button class="button-submit" type="submit">Sign Up</button>
  {% comment %} <p class="p">Don't have an account? <a href={% url 'account_signup' %}>  <span class="span">Sign Up</span></p> </a> {% endcomment %}
  <p class="p line">Or use a third-party</p>
  <button class="btn google" onclick="location.href='/accounts/google/login/?process=login'" type="button">
         <svg
        xml:space="preserve"
        style="enable-background:new 0 0 512 512;"
        viewBox="0 0 512 512"
        y="0px"
        x="0px"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        id="Layer_1"
        width="20"
        version="1.1"
      >
        <path
          d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
	c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
	C103.821,274.792,107.225,292.797,113.47,309.408z"
          style="fill:#FBBB00;"
        ></path>
        <path
          d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
	c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
	c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"
          style="fill:#518EF8;"
        ></path>
        <path
          d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
	c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
	c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"
          style="fill:#28B446;"
        ></path>
        <path
          d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
	c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
	C318.115,0,375.068,22.126,419.404,58.936z"
          style="fill:#F14336;"
        ></path>
      </svg>

      Continue with Google</button>


  
    

</form>

<script>
document.addEventListener('DOMContentLoaded', function(){
    $('#div_id_password1').prepend(function(){
        return '<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>';
    })

    $('#div_id_password2').prepend(function(){
        return '<span toggle="#password-field" class="fa fa-fw fa-eye field-icon2 toggle-password2"></span>';
    })

    $('.infoUser').hide();
    
    
    $(".toggle-password").on('click',function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $('#id_password1');
        
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
    });

    $(".toggle-password2").on('click',function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $('#id_password2');
        
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
    }); 
    

});

</script>
   
{% endblock content %}
