


<!-- TAB CONTROLLERS -->
<input id="panel-1-ctrl"
       class="panel-radios" type="radio" name="tab-radios" checked>
<input id="panel-2-ctrl"
       class="panel-radios" type="radio" name="tab-radios">
<input id="panel-3-ctrl"
       class="panel-radios" type="radio" name="tab-radios">
<input id="panel-4-ctrl"
       class="panel-radios" type="radio" name="tab-radios" style="transform: translateX(-10px);">
<input id="panel-5-ctrl"
       class="panel-radios" type="radio" name="tab-radios" style="transform: translateX(10px);">
<input id="nav-ctrl"
       class="panel-radios" type="checkbox" name="nav-checkbox">

<header id="introduction">
  <h1>PT. DAYA AGUNG BESTARI</h1>
</header>

<!-- TABS LIST -->
<ul id="tabs-list">
    <!-- MENU TOGGLE -->
    <label id="open-nav-label" for="nav-ctrl"></label>
    <li id="li-for-panel-1">
      <label class="panel-label"
             for="panel-1-ctrl">Tentang DABEST</label>
    </li><!--INLINE-BLOCK FIX
 --><li id="li-for-panel-2">
      <label class="panel-label"
             for="panel-2-ctrl">Visi dan Misi DABEST</label>
    </li><!--INLINE-BLOCK FIX
 --><li id="li-for-panel-3">
      <label class="panel-label"
             for="panel-3-ctrl">Company Value DABEST</label>
    </li><!--INLINE-BLOCK FIX
 --><li id="li-for-panel-4">
      <label class="panel-label"
             for="panel-4-ctrl">Super Team DABEST</label>
    </li><!--INLINE-BLOCK FIX
 --><li id="li-for-panel-5" class="last">
      <label class="panel-label"
             for="panel-5-ctrl">Legalitas DABEST</label>
    </li>
    <label id="close-nav-label" for="nav-ctrl">Close</label>
</ul>

<!-- THE PANELS -->
<article id="panels">
  <div class="container">
    <section id="panel-1">
      <main>
		
        
      </main>
	  
    </section>
    <section id="panel-2">
      <main>
		  <div class="col">
			  <div class="row">
				  <img src="../static/images/BG_VNM.svg" class="img-modal rounded-start bg_vnm" alt="...">
				  <blockquote class="centered">
					
					"Tidak ada kehidupan tanpa air. Air adalah sumber kehidupan, dan melindunginya adalah tanggung jawab kita bersama untuk masa depan yang berkelanjutan."
				  </blockquote>
			</div>
			<div class="row">
				<div id="VisiDABEST" class="col-md-4 col-sm-4">
					<h1 class="vH1">VISI DABEST</h1>
					<span class="spanH1">MEMAJUKAN PERADABAN <br> MELALUI PENGEMBANGAN SUMBER DAYA AIR</span>
					<!-- <img id="UD_1" src="../static/images/UD_1.png" class="img-modal rounded-start" alt="..."> -->
				</div>
				<div class="col-md-8 col-sm-4">
					<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
						<div class="carousel-indicators">
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
						  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 78"></button>
						</div>
						<div class="carousel-inner">
						<h1 class="misiDABEST">MISI DABEST</h1>
						  <div class="carousel-item active">
							<img src="../static/images/1.png" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
							  <!-- <h5>First slide label</h5> -->
							  <p>Membangun Budaya Perusahaan Yang Sehat dan Bertumbuh</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/2.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Second slide label</h5> -->
							  <p>Berkiprah di Tingkat Daerah, Nasional dan Internasional</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/3.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Third slide label</h5> -->
							  <p>Menciptakan Produk yang Solutif dan Inovatif Secara Berkelanjutan</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/4.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Third slide label</h5> -->
							  <p>Selalu Update Terhadap Ilmu Pengetahuan dan Teknologi Baru</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/5.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Third slide label</h5> -->
							  <p>Membangun SDM yang Unggul dan Profesional</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/6.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Third slide label</h5> -->
							  <p>Ikut Aktif Mensinergikan Perusahaan Dengan Perundangan Yang Berlaku di Indonesia</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/7.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Third slide label</h5> -->
							  <p>Membangun Jaringan Mitra untuk Bertumbuh Bersama</p>
							</div>
						  </div>
						  <div class="carousel-item">
							<img src="../static/images/8.png" class="d-block w-100" alt="...">
							<div class="carousel-caption  d-md-block">
							  <!-- <h5>Third slide label</h5> -->
							  <p>Memberikan Value Terhadap Lingkungan</p>
							</div>
						  </div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					  </div>
				</div>
			</div>
		  </div>
	
      </main>
    </section>
    <section id="panel-3">
      <main>
		<!-- <div class="loader">
			<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
				   <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
						 <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
				   </path>
			</svg>
	 </div> -->
   
	 <!--gallery-->
	 <div class="gallery-wrapper">
			<div class="content">
				   <div class="gallery full">
						 <div class="swiper-container">
								<div class="swiper-wrapper" style="width: 100%;">
									   <div class="swiper-slide">
											 <div class="image">
													<img src="../static/images/DabestCard.jpg" alt="" />
											 </div>
   
											 <div class="overlay">
													<div class="text-wrap">
														   <div class="name">
																 <span>IT STAFF</span>
														   </div>
														   <div class="caption">
																 <p>
																	BADABEST dengan teguh memegang prinsip-prinsip Iman (Keimanan). Taqwa (Ketaqwaan), Shidiq (Kejujuran), Tabligh (Menyampaikan Pesan), Amanah ( Kepercayaan), dan Fathonan ( Kebijaksanaan ) dalam etos Operasionalnya
																 </p>
														   </div>
													</div>
											 </div>
									   </div>
									   <div class="swiper-slide">
											 <div class="image">
												<img src="../static/images/DabestCard.jpg" alt="" />
											 </div>
   
											 <div class="overlay">
													<div class="text-wrap">
														   <div class="name">
																 <span>Thumbnail Gallery</span>
														   </div>
														   <div class="caption">
																 <p>
																		Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quasi aliquam eius, blanditiis quae, explicabo praesentium corporis tempora quam et rem nulla repellendus placeat, nisi omnis earum sunt suscipit aspernatur!
																 </p>
														   </div>
													</div>
											 </div>
									   </div>
									   <div class="swiper-slide">
											 <div class="image">
												<img src="../static/images/DabestCard.jpg" alt="" />
											 </div>
   
											 <div class="overlay">
													<div class="text-wrap">
														   <div class="name">
																 <span>Thumbnail Gallery</span>
														   </div>
														   <div class="caption">
																 <p>
																		Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quasi aliquam eius, blanditiis quae, explicabo praesentium corporis tempora quam et rem nulla repellendus placeat, nisi omnis earum sunt suscipit aspernatur!
																 </p>
														   </div>
													</div>
											 </div>
									   </div>
								</div>
						 </div>
   
						 <div class="swiper-next-button">
								<em class="material-icons" style="color: #fff;">chevron_right</em>
						 </div>
						 <div class="swiper-prev-button">
								<em class="material-icons" style="color: #fff;">chevron_left</em>
						 </div>
				   </div>
   
				   <div class="gallery thumb">
						 <div class="swiper-container">
								<div class="swiper-wrapper">
									   <div class="swiper-slide">
											 <div class="image">
													<img src="../static/images/DabestCard.jpg" alt="" />
   
													<div class="overlay">
														   <em class="material-icons" style="color: #fff;">remove_red_eye</em>
													</div>
											 </div>
									   </div>
									   <div class="swiper-slide">
											 <div class="image">
												<img src="../static/images/DabestCard.jpg" alt="" />
   
													<div class="overlay">
														   <em class="material-icons" style="color: #fff;">remove_red_eye</em>
													</div>
											 </div>
									   </div>
									   <div class="swiper-slide">
											 <div class="image">
												<img src="../static/images/DabestCard.jpg" alt="" />
   
													<div class="overlay">
														   <em class="material-icons" style="color: #fff;">remove_red_eye</em>
													</div>
											 </div>
									   </div>
								</div>
						 </div>
   
						 <div class="swiper-next-button">
								<em class="material-icons" style="color: #fff;">arrow_right_alt</em>
						 </div>
						 <div class="swiper-prev-button">
								<em class="material-icons" style="color: #fff;">arrow_right_alt</em>
						 </div>
				   </div>
			</div>
	 </div>
      </main>
    </section>
    <section id="panel-4">
		
		<main>
		  <div class="swiper">
			  <div class="swiper-wrapper">
				  <div class="swiper-slide">
					  <div id="GBD" class="swiper-image" style="background: url('../static/images/Bpk_Danis.jpg') no-repeat center center; background-size:contain;"></div>
					  <div class="overlay"></div>
					  <div class="content-wrapper content-right">
						  <div class="content">
							  <div class="kicker">Danis Aryo Bronto, S.T., MPSDA.</div>
							  <h1>GRAVEL FROM THE GROUND UP</h1>
							  <p>Sebagai Chief Executive Officer di DABEST Consultant, saya telah
								membanguni transformasi kami dari sebuah studio konsultansi kecil
								menjadi konsultansi yang akan selalu berkembang, berspesialisasi dalam
								bidang Sumber Daya Air. Kemajuan ini tidak hanya disebabkan oleh upaya
								dan tekad, tetapi juga karena komitmen teguh kami untuk memastikan
								kepuasan maksimal bagi klien kami. Etika, profesionalisme, komitmen, dan
								kualitas menjadi landasan fundamental perusahaan kami.
								Kami telah melakukan banyak proyek konsultansi dalam Perencanaan
								Sumber Daya Air, yang merupakan bagian penting dari perjalanan kami
								menuju kesuksesan. Keberhasilan ini sangat bergantung pada tim kami
								yang terdiri dari para profesional yang sangat terampil dan komitmen
								dalam memprioritaskan kepuasan klien.
								Kami sangat percaya dalam membina karyawan yang berdedikasi dan
								menggunakan teknik-teknik serta manajemen yang canggih, akan dapat
								menciptakan lingkungan yang mendorong pertumbuhan dan pencapaian
								berkelanjutan. Kami sangat bangga dengan karyawan kami, yang memiliki
								dedikasi tak tergoyahkan, bakat luar biasa, dan loyalitasnya telah
								menjadikan PT. Daya Agung Bestari (DABEST Consultant) adalah entitas
								tangguh di bidang konsultansi Sumber Daya Air.</p>
							  <span class="ttdGBD">Danis Aryo Bronto</span>
						  </div>
					  </div>
				  </div>
				  <div class="swiper-slide">
					  <div class="swiper-image" style="background: url('../static/images/home4.jpg') no-repeat center center; background-size:cover;border-radius: 25px;box-shadow: 10px 10px 5px #7FC7D9;"></div>
					  <div class="overlay"></div>
					  <div class="content-wrapper">
						  <div class="content">
							  <div class="kicker">DABEST </div>
							  <h1>Dewan Direksi</h1>
							  <p>Dewan Direksi kami adalah pilar utama dalam pengambilan keputusan strategis dan arah perusahaan. Dengan pengalaman yang luas dan pemahaman yang mendalam tentang industri kami, mereka memimpin perusahaan menuju keberhasilan dengan visi jangka panjang.</p>
							  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2">LEARN MORE</a>
						  </div>
					  </div>
				  </div>
				  <div class="swiper-slide">
					  <div class="swiper-image" style="background: url('../static/images/home5.jpg') no-repeat center center; background-size:cover; border-radius: 25px;"></div>
					  <div class="overlay"></div>
					  <div class="content-wrapper content-right">
						  <div class="content">
							  <div class="kicker">DABEST Super Team</div>
							  <h1>MEETS OUR TEAMS</h1>
							  <p>Tim kami terdiri dari sekelompok individu yang bersemangat dan berbakat, siap untuk menghadapi tantangan apa pun. Dengan keahlian yang beragam dan dedikasi yang tinggi, kami bersatu untuk mencapai tujuan bersama.</p>
							  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle3">LEARN MORE</a>
						  </div>
					  </div>
				  </div>
				  <!-- <div class="swiper-slide">
					  <div class="swiper-image" style="background: url('https://www.specialized.com/medias/09-ROAD-3212-Gravel-Lander-Diverge-Hero-2880x1620.jpg?context=bWFzdGVyfGltYWdlc3w3ODEyMDd8aW1hZ2UvanBlZ3xpbWFnZXMvaDY5L2g3Yy85MTMxMDk4MDQ2NDk0LmpwZ3wxYTQ2YWQxNmUyNWYzNjIwZjI5NTJmOWRiZDYyYTZjNWEzZDg2N2RhZDhiNDc0ZjEwOGNmYWNkZTVhNTE0MTJl') no-repeat center center; background-size:cover;"></div>
					  <div class="overlay"></div>
					  <div class="content-wrapper content-right">
						  <div class="content">
							  <div class="kicker">SPECIALIZED DIVERGE</div>
							  <h1>THE ULTIMATE GETAWAY VEHICLE</h1>
							  <p>When the road ahead is long and challenging, a smooth ride that delivers confidence, speed, and comfort is mandatory. Meet the Future Shock. It delivers a smooth and confident ride over any terrain, while keeping the frame stiff and nimble for efficient power transfer and precise handling.</p>
							  <a href="" class="button">LEARN MORE</a>
						  </div>
					  </div>
				  </div> -->
			  </div>
			  <!-- pagination -->
			  <div class="swiper-pagination"></div>
			  <!-- Add Arrows -->
			  <div class="swiper-nav-wrapper">
				  <div class="swiper-button-prev"></div>
				  <div class="swiper-button-next"></div>
			  </div>
			</div>
		</main>
		  
      
    </section>
    <section id="panel-5">
      <main>
		<div class="tabsLegal">

			<input type="radio" id="tabLegal1" name="tab-control" checked>
			<input type="radio" id="tabLegal2" name="tab-control">
			<!-- <input type="radio" id="tab3" name="tab-control">
			<input type="radio" id="tab4" name="tab-control"> -->
			<ul>
			  <li title="Data Perusahaan"><label for="tabLegal1" role="button"><svg viewBox="0 0 24 24">
					<path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
				  </svg><br><span style="font-family: 'league spartan';font-weight: 800;">Data Perusahaan</span></label></li>
			  <li title="Sertifikasi"><label for="tabLegal2" role="button"><svg viewBox="0 0 24 24">
					<path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
				  </svg><br><span style="font-family: 'league spartan';font-weight: 800;">Sertifikasi Badan Usaha</span></label></li>
			  <!-- <li title="Personalia"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
					<path d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z" />
				  </svg><br><span>Personalia</span></label></li> -->
			  <!-- <li title="Returns"><label for="tab4" role="button"><svg viewBox="0 0 24 24">
					<path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
				  </svg><br><span>Returns</span></label></li> -->
			</ul>
		  
			<div class="slider">
			  <div class="indicator"></div>
			</div>
			<div class="content">
			  <section>
				<table class="table">
					<thead>
					  <tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td style="width: 40%; text-align: right;">Nama Perusahaan</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">PT. Daya Agung Bestari</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Domisili Perusahaan</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">Jl. Batik Saketi No. 5, Kota Bandung 40286
						</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Akta Pendirian</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">Nama Notaris : M. Istiqamah ,SH.,M.Kn. | Nomor/Tanggal : 03/19 Agustus 2021</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Akta Perubahan Terakhir</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">Nama Notaris : M. Istiqamah ,SH.,M.Kn. | Nomor/Tanggal : 02/1 Desember 2023</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">No. Pengesahan Akta</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">Nomor : AHU-AH.01.09-0191308 | Tanggal : 1 Desember 2023</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Nomor Pokok Wajib Pajak (NPWP)</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">43.350.557.5-423.000</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Nomor Izin Berusaha (NIB) Sistem OSS</td>
						<td style="width: 1%;">:</td>
						<td style="width: 50%; text-align: left;">0806220064997</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Surat Keterangan Terdaftar Pajak (SKT)</td>
						<td style="width: 1%;">:</td>
						<td style="width: 40%; text-align: left; ">Nomor : S-7646KT/WPJ.09/KP.0203/2021</td>
					  </tr>
					  <tr>
						<td style="width: 40%; text-align: right;">Surat Pengukuhan Pengusaha Kena Pajak (SPPKP )</td>
						<td style="width: 1%;">:</td>
						<td style="width: 40%; text-align: left;">Nomor : S-51/PKP/KPP.090203/2023</td>
					  </tr>
					</tbody>
				</table>
			  </section>
			  <section>
				<table class="table">
					<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td style="width: 30%; text-align: right;">Subklasifikasi</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">Aktivitas Keinsinyuran dan Konsultasi Teknis YBDI</td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: right;">KBLI</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">71102</td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: right;">Bidang Usaha</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">Konsultan Perencana dan Pengawas</td>
					</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td style="width: 30%; text-align: right;">Subklasifikasi</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">onstruksi Jaringan Irigasi dan Drainase</td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: right;">KBLI</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">42201</td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: right;">Bidang Usaha</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">Konsultan Perencana dan Pengawas</td>
					</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td style="width: 30%; text-align: right;">Subklasifikasi</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">Aktivitas Profesional, ilmiah, dan teknis lainnya
						</td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: right;">KBLI</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">74909
						</td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: right;">Bidang Usaha</td>
						<td style="width: 1%;">:</td>
						<td style="width: 69%; text-align: left;">onsultan Perencana dan Pengawas</td>
					</tr>
					</tbody>
				</table>
			  </section>
			  <section>
		
				
				
				<br><br><br>
				
			  </section>
			  <!-- <section>
				<h2>Returns</h2>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dicta vero rerum? Eaque repudiandae architecto libero reprehenderit aliquam magnam ratione quidem? Nobis doloribus molestiae enim deserunt necessitatibus eaque quidem incidunt.
			  </section> -->
			</div>
		</div>
      </main>
    </section>
  </div>
</article>