{% load static %}

{% block modal %}


<div class="modal fade" id="sitevisit1" data-bs-keyboard="false"  aria-labelledby="sitevisit1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sitevisit1Label">Survey Topografi Darat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>








<div class="modal fade" id="sitevisit4" data-bs-keyboard="false"  aria-labelledby="sitevisit4Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sitevisit4Label">Social Mapping</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sitevisit5" data-bs-keyboard="false"  aria-labelledby="sitevisit5Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sitevisit5Label">Survey Ekologi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus voluptas magnam veritatis error quis dolorum ab placeat quasi doloremque.
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}
