{% extends 'main/main.html' %}
{% load static %}
{% load i18n %}
{% block content%} 

<style>
h1.HeadH1 {
  font-size: 3em;
  font-weight: bold;
}

h2.HeadH2 {
  font-size: 2em;
  font-weight: bold;
}

p.teksPriv {
  font-size: 1.75em;
  text-align: justify;
}	

li.teksLi {
  font-size: 1.75em;
  text-align: justify;
}	
</style>

<div class="container" style="position: relative;top: 10%;">
<h1 class="HeadH1">PT. DAYA AGUNG BESTARI Privacy Policy</h1>

<p class="teksPriv">This privacy policy describes how PT. DAYA AGUNG BESTARI collects, uses, and discloses your personal information when you use our website, https://dabestconsultant.com/</p>

<h2 class="HeadH2">Information We Collect</h2>

<p class="teksPriv">We collect the following information about you:</p>

<ul>
	<li class="teksLi">
		<b>Personal information: </b> This includes your name, email address, phone number, and mailing address. We collect this information when you register for an account, sign up for our newsletter, or contact us for support.
	</li>
	<li class="teksLi">
		<b>Usage data: </b> This includes information about how you use our website, such as your IP address, browser type, and referring website. We collect this information using cookies and other tracking technologies.
	</li>
	<li class="teksLi">
		<b>Content data: </b> This includes the text, images, and other content that you submit to our website. We collect this information when you create a blog post, leave a comment, or upload a file.
	</li>
</ul>



<h2 class="HeadH2">How We Use Your Information</h2>

<p class="teksPriv">We use your information for the following purposes:</p>

<ul>
	<li class="teksLi">
		<b>To provide our services:</b> We use your information to provide you with our website, products, and services. For example, we use your email address to send you newsletters and updates about our products.
	</li>
	<li class="teksLi">
		<b>To improve our services: </b> We use your information to improve our website, products, and services. For example, we use your usage data to identify and fix bugs in our website.
	</li>
	<li class="teksLi">
		<b>To communicate with you: </b> We use your information to communicate with you about your account, our products, and our services. For example, we may send you an email to remind you about an upcoming event.
	</li>
	<li class="teksLi">
		<b>For marketing purposes: </b> We may use your information to send you marketing emails about our products and services. You can unsubscribe from these emails at any time by clicking on the unsubscribe link in the email.
	</li>
</ul>



<h2 class="HeadH2">Sharing Your Information</h2>

<p class="teksPriv">We do not share your personal information with third parties except in the following limited circumstances:</p>

<ul>
	<li class="teksLi">
		<b>With your consent:</b> We will share your personal information with third parties if you consent to such sharing. For example, you may consent to us sharing your information with a third-party service provider that helps us process your payments.
	</li>
	<li class="teksLi">
		<b>To comply with the law: </b> We will share your personal information with third parties when we are required to do so by law, such as in response to a court order or subpoena.
	</li>
	<li class="teksLi">
		<b>To protect our rights: </b> We will share your personal information with third parties when we believe that it is necessary to protect our rights, such as to prevent fraud or abuse of our website.		
	</li>
</ul>



<h2 class="HeadH2">Data Security</h2>

<p class="teksPriv">We take the security of your personal information very seriously. We have implemented a number of security measures to protect your information, including:</p>

<ul>
	<li class="teksLi">
		<b>Secure storage: </b> We store your personal information on secure servers that are protected by firewalls and other security measures.
	</li>
	<li class="teksLi">
		<b>Access controls: </b> We restrict access to your personal information to authorized personnel only.
	</li>	
	<li class="teksLi">
		<b>Data encryption: </b> We encrypt your personal information when it is transmitted over the internet.
	</li>
</ul>


<h2 class="HeadH2">Your Choices</h2>

<p class="teksPriv">You have the following choices regarding your personal information:</p>

<ul>
	<li class="teksLi">
		<b>Access and correction: </b> You can access and correct your personal information by logging into your account.
	</li>
	<li class="teksLi">
		<b>Data deletion: </b>You can request that we delete your personal information by contacting us at [email protected]
	</li>
	<li class="teksLi">
		<b>Opt-out of marketing: </b> You can opt out of receiving marketing emails from us by clicking on the unsubscribe link in the email.
	</li>
</ul>



<h2 class="HeadH2">Changes to this Privacy Policy</h2>

<p class="teksPriv">We may update this privacy policy from</p>
	
	
</div>






{% endblock %}
