@media  screen and (min-width: 1377px) and (max-width: 1440px) {


* {
    margin: 0;
    padding: 0;
    
  }
  
  #map {
      position: relative !important;
      top: -2.5em; 
      bottom: 0;
      right: 0;
      left: 0;
      width: 85%;
      height: 75%;
      margin: 3em auto;
  }
  
  .mapFrame {
      width: 85%;
      margin: -15em auto !important;
      height: 80vh;
  }
  
  html , body {
      font-family: 'Poppins', sans-serif;
      background: #fff;
      color: #004aad;
      height: auto;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      overflow-x: hidden !important;
  
  }
  
  .container {
    /* min-width: 100vw; */
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    padding: 0 !important;
    margin-top: 5em;
  }
  
  .container-home {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    position: relative;
  
  }
  
  
  
  
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 0rem;
    
  }
  
  
  .isiOpsi > h2 {
    text-transform: uppercase;
  }
  .navbar ul li a {
    text-decoration: none;
    
    color: #f4f4f4;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  
  
  
  select.selectSize  {
    font-size: 0.85vw;
  }
  
 
  
  .box {
    cursor: pointer;
    height: 10vw;
    width: 20vh;
    transform: scale(0.95);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
  
  .Openn {
    border: 2px solid #000;
  }
  
  /* nobr {
    white-space: normal;
    display: flex;
    width: 20vw;
  } */


  /* .box p {
    
    display: none !important ;
    
  } */

   /* nobr {
    display: none;
  } */

  .btn-SD {
    width: 10em;
    height: 4em;
    position: relative;
    right: 1em;
    font-size: 15px !important;
    margin-top: 4em;
    background: #004aad !important;
    color: #fff !important;
}

  .box p {
    margin-left: 30%;
  }

  .box:nth-child(1) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
  }
  .box:nth-child(1) p, .box:nth-child(2) p,.box:nth-child(3) p, .box:nth-child(4) p {
    display: block;
    padding: 30px;
    padding-left: 80px;
    font-size: 2em;
  }
  
  .box:nth-child(2) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .box:nth-child(3) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .box:nth-child(4) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .box:nth-child(5) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  form {
    display: flex;
    width: 85%;
    margin: auto;
  }
  
  form > div {
    margin: 0 10px;
    padding: 10px 0;
  }
  
  .scale {
    width: 100%;
    display: flex;
    /* Centering the labels */
    justify-content: space-between;
    /* Adding the background gray line */
    background:linear-gradient(transparent 45%, gray 45%, gray 55%, transparent 55%);
    position: relative;
  }
  
  
  
  /* vertical rule */
  .scale::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    left: 50%;
    margin-left: -2px;
    background: gray;
    z-index: -1;
  }
  
  input {
    display:block;
  }
  
  /* Direct styling of the labels as UTF8 icons can be inconsistent across browsers */
  
  
  label:nth-last-child(1) {
      color: red;
      margin-top: 0em;
      position: relative;
      display: flex;
      left: -5rem;
      content: 'NOW';
  }
  
  
  label:nth-of-type(odd) {
      color: #004aad;
      margin-top: 0em;
      position: relative;
      display: flex;
      left: -5rem;
      content: 'NOW';
  }
  label:nth-of-type(even){
      color: #004aad;
      margin-top: 4em;
      position: relative;
      display: flex;
      left: -5rem;
  }
  
  
  .col-md-2 {
    width: auto;
  }
  
  .col-md-3 {
    width: auto;
  }
  
  .parent {
    width: 100%;
    height: 30%;
    display: flex;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    align-items: center;
     animation: slide 25s linear infinite;
  }
  
  .logo {
    width: 10em;
    height: 6em;
    margin-right: 10px;
    flex: 0 0 auto;
    vertical-align: middle;
    display: flex;
  
  }
  
  .logo2 {
    width: 100px;
  }
  @keyframes slide {
    0% {
       transform: translateX(0);
    }
    
    100% {
      transform: translateX(-100%)
    }
  }
  
  .logoOC {
    width: 6em;
    height: 6em;
    margin: auto;
  }
  .logoOC_ITB {
    width: 12.5em;
    height: 7em;
    margin: auto;
    margin-left: -2em;
    margin-top: -.75em;
  }
  .logoOC_SDA, .logoOC_AB, .logoOC_CIT {
    width: 10em;
    height: 3em;
    margin: auto;
  }
  
  .logoOC_PUPR {
    width: 8em;
    height: 3em;
    margin: auto;
  }
  
  .sm_dashboard{
    max-width:1200px;
    min-width:350px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    padding:40px;
  }
  .sm_card{
    width:250px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right: 6px;
  }
  .sm_shelf_renderer{
      display: block;
      position: relative;
      margin-bottom:30px;
  }
  #sm_scroll_container.sm_horizontal_list_renderer {
      overflow-x: hidden;
  }
  #items.sm_horizontal_list_renderer {
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
      will-change: transform;
      display: inline-block;
      white-space: nowrap;
  }
  .sm_card .card-content{
    padding: 8px 14px;
  }
  .sm_card .card-content .card-title{
    margin-bottom: 0px;
  }
  #sm_left_arrow{
      position: absolute;
      top: calc(50% - 40px);
      left: -20px;
  }
  #sm_right_arrow{
      position: absolute;
      top: calc(50% - 40px);
      left: calc(100% - 20px);
      z-index:1;
  }
  .sm_self_title{
      font-size:22px;
  }
  
  .container-cards {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1300px;
      background-color: #f0f0f0;
      margin: auto;
  }
  
  .scroll-container {
  /*   background-color: tomato ; */
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none; /* For Firefox */
      -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }
  
  .scroll-container::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
  }
  
  .card {
      min-width: 190px;
      height: 230px;
      margin: 10px;
      background-color: white;
  /*     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    
      transition: 0.2s transform  ;
      cursor: pointer ;
      border-radius: 1rem ;
      border: 2px solid #ddd;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
      height: 10vw;
    
  }
  
  .card:hover{
    transform: scale(1.05) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-btn {
      background-color: #b1a7a6;
      color: white;
      border: none;
      padding: 2rem 0.8rem;
      cursor: pointer;
      font-size: 20px;
      margin: 0 10px;
      color: black ;
    font-size: 2rem ;
    font-weight : 900 ;
  }


  .btn-EN {
    width: 80%;
    background: #004aad !important;
    color: #fff !important;
    margin: 10px auto;
    display: block !important;
    border-radius: 5px;
    font-size: 0.85vw;
  }

  .btn-SM {
    width: 80%;
    background: #253252 !important;
    color: #fff !important;
    margin: 10px auto;
    display: block !important;
    border-radius: 5px;
    font-size: 0.85vw;
  }
  
  .scroll-btn:hover{
    filter: brightness(90%) ;
  }
  
  .scroll-btn:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    filter: brightness(100%)
  }
  
  
  
  .card{
    display: flex ;
    flex-direction:column ;
    align-items: center ;
  /*   flex-wrap : wrap ; */
    
    align-content: column ;
    padding: 0.5rem ;
    
    
  }
  
  .card-upper , .card-lower{
  /*   border: 1px solid black; */
  /*     height: 50% ; */
    width: 100%
      
  }
  
  .card-upper{
    height: 65% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    
    border-bottom: 1px solid #ddd;
       box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1); 
  }
  
  .card-upper img{
    height: 90% ;
    width: 70%;
    border-radius: 50%
    
  }
  
  
  
  .card-lower{
    height: 40% ;
    display: flex ;
  /*   flex-direction: column ; */
    justify-content: center ;
    align-items: center ;
    
    overflow: hidden ;
    
  }
  
  
  #map { position: absolute; top:0; bottom:0; right:0; left:0; border-radius: 10px; }  
  
  video {
    width: 100%;
  }
  
  video::-webkit-media-controls-panel {
      display: flex !important;
      opacity: 1 !important;
  }
  
  .leaflet-popup-content {
      margin: 13px 19px;
      line-height: 1.4;
      width: 350px !important;
      text-align: center;
  }
  
  #tblPro {
    position: sticky;
    z-index: 1000;
    width: 25%;
    background: #F8F8FF;
    top: 100%;
    left: 100%;
  }
  
  #t_points tr:hover {
    /* color: #F8F8FF; */
    background-color: blue;
    cursor: pointer;
  
  }
  
  #t_points td:hover {
    background-color: blue;
    color: #F8F8FF;
    cursor: pointer;
  }
  
  

  
  .mxxx {
    display: -webkit-box;
    display: flex !important;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-right: 1em;
    height: 20vw;
  }
  
  .card-text {
    font-size: 10px;
  }

  .leftArrow{
    position: relative;
    float: left;
    left: 5%;
    top: 15%;
    z-index: 1;
  }
  
  .rightArrow {
    position: relative;
    float: right;
    right: 5%;
    top: 15%;
    z-index: 1;
  }
  
  .impacto {
    border: 2px solid #000;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Poppins';
    font-weight: 800;
    border-radius: 5px;
    color: #004aad;
  }
  
  .btnProj {
    font-size: 1.25em;
    bottom: 10em;
    position: relative;
    z-index: 10001;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
  }
  
  .baseUnder {
    color: #253252;
    font-size: 0.7vw;
    text-align: center;
}
  
  .textLU {
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 625px;
    font-size: 2.5em;
    font-weight: 100;
    margin: auto;
    font-family: 'league spartan';
    font-weight: 800;
  }

  .opsiRow {
    border-color: white;
    border-style: solid;
    border-radius: 14px;
    padding: 1em;
    height: auto;
    margin: 25px auto !important;
    width: auto !important;
  }

.opsiRow h2 {
    font-family: 'league spartan';
    font-weight: 800;
    font-size: 1em;
    color: #004AAD;
}



img.Home_11 {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

img.Home_2 {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.withCD {
    width: 90%;
    margin: auto !important;
    padding-right: 1em;
    padding-left: 1em;
}

.container-home-usp {
    width: 70%;
    height: 100%;
    margin-top: 0em;
}

.withBG {
  background: url(/static/images/GBG-1.avif) 50% 0 no-repeat fixed;
  color: white;
  max-height: 525px;
  background-size: 140em 65em;
  border-radius: 3em;
  margin: auto !important;
  width: 85%;
  padding-right: 1em;
}

.listCol:first-child::after {
  
  transform: scale(1.1);
  
}


.btnVisit {
  font-size: 10px;
}

.inputComp {
  font-size: 0.85vw;
  width: 80%;
  margin: auto;
}

.btnGr {
  /* display: flex; */
  width: 100%;
  margin: auto;
  height: 25%;
  /* gap: 5%; */
}

.boxG {
  height: 15vw;
  float: left;
  border-radius: 0px;
  width: auto;
}

p.Home_9 {
  background: #13b2f6;
  color: #fff;
  text-align: center;
  height: 50px;
  width: 100%;
  margin: -3em auto;
  position: relative;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;

}

.card_proj {

  border-radius: 20px;
  padding: 10px;
  height: 150px;
  background: #d9d9d9;
  width: 200px;
}

.card_proj:last-child {
  height: 85px;
}

.card_proj:nth-of-type(even){
  position: relative;
  top: 50px;
}


.impactDiv {
  margin: auto;
  background: #d9d9d9;
  width: 89%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  top: 5%;
}


.ImpactCard {
    display: flex;
    gap: 18px;
    height: 100%;
}


.card_impact > p {
  text-align:center;
  position: sticky;
  top: 100%;
}

.card_impact {
  border-radius: 10px;
  width: 100%;
  height: 85px;
  background: #fff;
}

.numberH2 {
    font-size: 27px;
    position: relative;
    top: 30%;
    text-align: center;
    color: #2937ec;
    font-weight: 800;
}

.rightMap > .row > .col-md-12 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  direction: rtl;
  gap: 10px;
}

.ourProj {
      font-family: 'league spartan';
    font-weight: 800;
    color: #004aad;
    margin-top: 1em;
    position: relative;
    top: 50px;
    text-align: left;
    left: 55px;

}


.KategoriText{
  text-align: center;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.ktProjNumb {
  direction: ltr;
  color: #004aad;
  font-weight: 800;
  font-family: 'Poppins';
}


}






